:root {
    --gap: 20px;
    accent-color: black;
    scroll-behavior: smooth;
}

* {
    
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
	font-family: 'Exo', sans-serif;

}

header,
body,
footer {
    min-width: 1000px;
}


.section,
nav-section {
    width: 100%;
    min-width: 700px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
}
.header-logo {
    font-size: 36px;
    flex: 1;
    line-height: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header-left {
    display: flex;
    align-items: flex-end;
}

.header-left a {
    margin: 0 16px;
}

.header-left ul {
    display: flex;
    padding-left: 20px;
}

.header-logo a {
    text-align: center;
}

.header-logo a img {
    width: 60%;
}

.profile {
    display: flex;
}

.profile ul {
    display: flex;
    align-items: flex-end;
}

.profile ul li {
    font-style: 14px;
    margin-right: 30px;
}


/*=========== header 네비 =============================*/


nav {
    flex: 5;
    width: 100%;
    min-width: 700px;
}

nav > ul {
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-left: 0;
}

nav > ul > li {
    width: 100%;
    margin: 0 15px;
    line-height: 5;
    text-align: center;
    position: relative;
}


.sub-nav {
    background-color: rgba(30, 30, 30, .6);
    font-style: 18px;
    display: none;
    text-align: center;
    padding-left: 0;
    position: absolute;
    width: 100%;
}

.sub-nav li > a {
    display: block;
    line-height: 2.5;
    color: white;
    border-bottom: 2px solid rgba(30, 30, 30, .6);
    
}

nav > ul > li:hover .sub-nav {
    display: block;
    
}

.sub-nav li:hover {
    background-color: #444
    
}


/*====== 검색창 스타일링 시작 =====*/
input:focus { 
    outline: none; 
    border-bottom: 1px solid;
}

.check {
    position: fixed;
    left: -9999px;
}

.search-txt {
    width: 200px;
    line-height: 20px;
    border: none;
}

.search-menu label {
    cursor: pointer;
}

.submenu {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -210px;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
    z-index: 60;
}

.check:checked ~ .submenu {
    transform: scaleX(1);
}

.profile ul {
    /* flex-wrap: nowrap; */
}



.search-menu {
    position: relative;
}
.search-btn {
    display: inline-block;
}

/*====== 검색창 스타일링 끝 =====*/







/*============================= main 시작 ================================*/

/*======================= main 이미지 ============================*/
main {
    margin-top: 20px;
}

main > .main-img {
    background-image: url(../image/main_slide_003.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: darken;
}

.main-img-text {
    width: 500px;
    text-align: center;
    padding: 50px;
    /* background-color: #fff; */
    height: 70%;
    /* opacity: .7; */
    /* mix-blend-mode: overlay; */
}

.main-img-text span {
    font-size: 24px;
    font-weight: bold;
    color: #ff9148;
}

.main-img-text h2 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    color: white;
}

.main-img-text p:nth-of-type(2) {
    color: white;
}

/*======================= main 이미지 끝 ======================*/

/*====================== main best 시작 =================================*/
.best-text {
    text-align: center;
    width: 500px;
}

.best-text h2 {
    font-family: 'Satisfy', cursive;
    font-size: 55px;
    /*텍스트 그라데이션*/
    background: linear-gradient(to right, #ff5f5c, #2eadfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.best-text h2 p {
    color: #444;
}


/*====================== main 내용 시작 =============================*/

.box-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-contents h2 {
    margin-top: 50px;
}

.box-contents ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-contents ul li {
    width: 300px;
    /*높이를 안주면 이미지가 살짝 벌어져 보임*/
    height: 300px;
    margin: 15px 15px;
    text-align: center;
}

.box-contents ul li a {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    color: #fff;
}

.main-item-1 {
    background-image: url(../image/main_gallery_01.jpg);
}

.main-item-2 {
    background-image: url(../image/main_gallery_02.jpg);

}

.main-item-3 {
    background-image: url(../image/main_gallery_03.jpg);

}

.main-item-4 {
    background-image: url(../image/main_gallery_04.jpg);

}

.main-item-5 {
    background-image: url(../image/main_gallery_05.jpg);

}

.main-item-6 {
    background-image: url(../image/main_gallery_06.jpg);

}

.main-item-7 {
    background-image: url(../image/main_gallery_07.jpg);

}

.main-item-8 {
    background-image: url(../image/main_gallery_08.jpg);

}

.main-item-9 {
    background-image: url(../image/main_gallery_09.jpg);

}

.main-item-10 {
    background-image: url(../image/main_gallery_10.jpg);

}

.main-item-11 {
    background-image: url(../image/main_gallery_11.jpg);
}

.main-item-12 {
    background-image: url(../image/main_gallery_12.jpg);
}

.main-item-1,
.main-item-2,
.main-item-3,
.main-item-4,
.main-item-5,
.main-item-6,
.main-item-7,
.main-item-8,
.main-item-9,
.main-item-10,
.main-item-11,
.main-item-12 {
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-item-1:hover,
.main-item-2:hover,
.main-item-3:hover,
.main-item-4:hover,
.main-item-5:hover,
.main-item-6:hover,
.main-item-7:hover,
.main-item-8:hover,
.main-item-9:hover,
.main-item-10:hover,
.main-item-11:hover,
.main-item-12:hover {
    background-size: 120%;
    transition: all .5s;
}

.lineArrow {
    width: 120px;
    height: 10px;
    border-bottom: 3px solid#000;
    border-right: 3px solid #000;
    transform: skew(45deg);
    margin: 10px auto;
}


/*====================== main 내용 끝 ================================*/



/*============================ footer ==========================*/

footer {
	margin-top: 50px; 
	height: 300px;
	background-color: #343434;
    display: flex;
}

footer ul {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

footer ul > li {
	width: 20%;
	margin: 30px 10px;
	/* float: left; */
}
footer ul > li h2, footer ul > li p {
	color: #fff;
}
.in_img a > img {
	width: 24%;
}



/*=============================== best 상품 페이지 임시 효과 ===========================================*/

.best-div {
    display: flex;
    /*플렉스 박스 안에 있는 내용(자식)들을 가운데로 정렬해준다*/
    justify-content: center;
    
    /*세로의 중간으로 아이템들을 정렬해 주지만 레퍼가 5번 div에서에서 끝나기 때문에변화가 없을 것이다.
    height의 값을 정해주면 되는데 auto시엔 켄텐츠의 크기만큼만 높이를 먹기 때문에 변화가 없을테니
    뷰포트의 높이인 100vh로 정해주면 그 높이를 기준으로 가운데에 정렬 하게 될것이다.*/
    align-items: center;
    /*당장 메인 페이지에는 필요 없을테니 일단 주석처리*/
    /* height: 100vh; */
}

.team {
    /*team 또한 flex로 변경*/
    display: flex;
    /*팀의 자식들(team-item을 중앙정렬 해준다)*/
    justify-content: center;
    /*호버시 가운데를 기준으로 움직이게 해주기 위해 아이템을 센터로 정렬해준다.*/
    align-items: center;
}

.team-item {
    height: 200px;
    /*flex-basis를 통해 플렉스 아이템의 사이즈를 조절해 줄수 있지만 현재 이미지가 가지고 있는 
    크기가 있기 때문에 변화가 없을 것이다.*/
    flex-basis: 200px;
    margin: 0 10px;
    /*0.4초 지연후 효과발생*/
    transition: all .4s;
}

/*hover시 이미지 크기 변화*/
.team-item:hover {
    flex-basis: 230px;
}

.team-item img {
    width: 100%;
}

.item-profile {
    background-color: #222;
    position: relative;
    overflow: hidden;
}

/*잘 보이지 않는 택스트들에게 그라데이션을 추가하여 가독성을 높혀준다.*/
/*프로필 기준으로 앞에 내용을 일단 추가해준다.*/
.item-profile::before {
    content: ' ';

    /*바텀까지 작성 한 후 백그라운드를 지우자
    그 후에 그라데이션을 깔아준다.*/
    /* https://www.colorzilla.com/gradient-editor/ */
    /* background-color: red; */

    /*그라데이션*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100&1+0,0.95+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+35,f0f9ff+46,cbebff+47,a1dbff+100&0.1+0,0.95+42 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.09+100;White+to+Transparent */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.09+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.09) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*바텀까지 작성하였으면 아래로 깔리는 것을 확일 할 수 있다.*/
    
    /*하이트를 더 많이 줘서 많은 영역이 덮어질 수록 글자가 더 보기 편해진다*/
    height: 200px;
}

.item-profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.item-profile-contents h2 {
    font-size: 20px;
}

.item-profile-contents span {
    display: block;
    font-style: 12px;
}

.item-profile-contents p {
    color: black;
    /*p태그가 너비가 없기 때문에 너비를 정해주자*/
    font-size: 12px;
    /*최대 높이를 0으로 만들어 주고 위로 흘러 넘쳐 보이는 p를 숨겨주자.
    이후 호버 했을시 p를 보여주게 한다.*/
    min-width: 140px;
    
    max-height: 0;
    overflow: hidden;
    /*아이템을 호버 했을때 자연스럽게 보이게 해주자*/
    transition: all 1.5s;
    opacity: 0;
    /*트랜지션이 등장하는 속도가 빠른감이 있으니 어느정도 딜레이를 줘서 자연스럽게 해준다.*/
    transition-delay: .4s;
}

.team-item:hover .item-profile-contents p {
    max-height: 200px;
    opacity: 1;
}



.item-profile-contents p {
    color: black;
    font-size: 12px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    transition: all 1.5s;
    opacity: 0;
    transition-delay: .4s;
}
